<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerb5blog.snippets_time_tracker</id>
	<name>[Cerb5blog.com]: Add Time Tracker to snippets</name>
	<description>Add time tracking info to ticket snippets.</description>
	<author>Robert Middleswarth</author>
	<version>1.0.2</version>
	<link>http://cerb5blog.com/project/snippets_tt</link>
	<image>plugin.png</image>
 
	<requires>
		<app_version min="5.6" max="6.3.99" />
	</requires>
  
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0" />
	</dependencies>

	<extensions>
	
		<!-- Snippet tokens -->
		
		<extension point="cerberusweb.snippet.token">
			<id>cerb5blog.snippet.token.time_tracker</id>
			<name>Time tracking Total Min</name>
			<class>
				<file>api/App.php</file>
				<name>Cerb5BlogSnippetTokenTimeTracker</name>
			</class>
			<params>
				<param key="token" value="time_tracker_min_total" />
				<param key="label" value="Total Time tracked Min" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.ticket" />
					</value>
				</param>
			</params>
		</extension>
		<extension point="cerberusweb.snippet.token">
			<id>cerb5blog.snippet.token.time_tracker.billable</id>
			<name>Time tracking Total Min</name>
			<class>
				<file>api/App.php</file>
				<name>Cerb5BlogSnippetTokenTimeTrackerBillable</name>
			</class>
			<params>
				<param key="token" value="time_tracker_min_total_billable" />
				<param key="label" value="Total Time tracked - Billable" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.ticket" />
					</value>
				</param>
			</params>
		</extension>
		<extension point="cerberusweb.snippet.token">
			<id>cerb5blog.snippet.token.time_tracker.non.billable</id>
			<name>Time tracking Total Min</name>
			<class>
				<file>api/App.php</file>
				<name>Cerb5BlogSnippetTokenTimeTrackerNonBillable</name>
			</class>
			<params>
				<param key="token" value="time_tracker_min_total_non_billable" />
				<param key="label" value="Total Time tracked - Non Billable" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.ticket" />
					</value>
				</param>
			</params>
		</extension>
		
	</extensions>

</plugin>
